<%- include('./layout/header'); %>
<%- include('./layout/navbar'); %>

<div class="container">
    <div class="text-center">
        <h3 class="mt-5">Submitted To</h3>
        <p>Arneda Jeans S. Gonzales</p>

        <br>
        <br>
        
        <h3 style="margin-bottom: 5%;">Submitted By</h3>
        <div class="row">
            <div class="col">
                <h5>Lyka Mae M. Binongo</h5>
                <p>2nd Year - Networking</p>
            </div>

            <div class="col">
                <h5>Nil Rose S. Arcibal</h5>
                <p>2nd Year - Networking</p>
            </div>

            <div class="col">
                <h5>Vanessa Tidalgo</h5>
                <p>2nd Year - Networking</p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5%;">
        <div class="col-md">
            <div class="card">
                <div class="card-header"><h5 class="text-center">Introduction</h5></div>
                <div class="card-body">
                    <span>
                        <b>Information Management System</b> is the collection, storage, curation, dissemination , archiving
                        and destruction of documents and others sources of information.
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col-md">
            <div class="card">
                <div class="card-header"><h5 class="text-center">Purpose of the System in Technical Perspective</h5></div>
                <div class="card-body">
                    <span>
                        The purpose of <b>information management</b> is to: design, develop, manage, and use information with insight and innovation.
                         support decision making and create value for individuals, organizations, communities, and societies.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5%;">
        <div class="col-md">
            <div class="card">
                <div class="card-header"><h5 class="text-center">Advantages of System Integration in Organizational Perspective</h5></div>
                <div class="card-body">
                    <span>
                        The purpose of <b>information management</b> is to: design, develop, manage, and use information with insight and innovation.
                         support decision making and create value for individuals, organizations, communities, and societies.
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<br>
<%- include('./layout/footer'); %>