<%- include('./layout/header'); %>
<%- include('./layout/navbar'); %>


    <div class="container" >
            <h1 class="text-center" style="padding-top: 30vh;">Information Management System</h1>
    </div>




<%- include('./layout/footer'); %>